body {
  background-color: #3d3d3d;
  color: white;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 3px black;
  border-radius: 5px;
  font-family: Arial, Helvetica;
  font-size: 15px;

}

input{
  display:block;
}

input:focus {
  border: 4px grey;
}

button {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 5px black;
  border-radius: 5px;
  background-color: #00a3cc;
  color: white;
  font-family: Arial, Helvetica;
  font-size: 17px;
  font-weight: bold;
}

button#add {
  background-color: green;
}

button#remove {
  background-color: #8a000e;
}
